## 基于Python的数据分析
**工具：**jupyter notebook   **第三方库：**Pandas  
  
**Pandas简介：**  
- Pandas是一个开源的第三方`Python`库，从`Numpy`和`Matplotlib`的基础上构建而来，享有数据分析“三剑客之一”的盛名（`NumPy`、`Matplotlib`、`Pandas`）。
- Pandas这个名字来源于面板数据（Panel Data）与数据分析（data analysis）这两个名词的组合；
- Pandas 已经成为`Python`数据分析的必备高级工具，它的目标是成为强大、灵活、可以支持任何编程语言的数据分析工具。
---
### 导入pandas库
由于一般都会用到numpy库，所以，我们也一起导入。

In [1]:
import pandas as pd  # 导入pandas库
import numpy as np   # 导入numpy库

### 创建Series数据
**Series：**带标签的一维同构数组  
**表达式：**```ser = pd.Series(data,index)```
- **data：**列表、ndarray、字典或标量值 （标量就是只有大小，没有方向的量）。
- **index：**对data的索引值，类似字典的key，index参数是可省略的。

#### 使用列表创建Series数据

In [2]:
# 使用列表创建Series数据
list1 = [1, 2, 3]
list2 = ['A', 'B', 'C']

ser = pd.Series(list1, list2)
display(ser)

A    1
B    2
C    3
dtype: int64

#### 使用ndarray创建Series数据

In [3]:
# 使用ndarray创建Series数据
arr1 = [1, 2, 3]
arr2 = ['A', 'B', 'C']

ser = pd.Series(arr1, arr2)
display(ser)

A    1
B    2
C    3
dtype: int64

#### 使用字典创建Series数据

In [4]:
# 使用字典创建Series数据
dic = {'A':1, 'B':2, 'C':3}

ser = pd.Series(dic)
display(ser)

A    1
B    2
C    3
dtype: int64

#### 使用标量创建Series数据

In [5]:
# 使用字典创建Series数据
ser = pd.Series(5.0, index=['A','B','C'])
display(ser)

A    5.0
B    5.0
C    5.0
dtype: float64

### 创建DataFrame数据
**DataFrame:**带标签的、大小可变的二维异构表格  
**表达式：**```df = pd.DataFrame(data=None, index=None, columns=None)```
- **data：**一维列表、ndarray、字典或series ，二维ndarray，dataframe数据。
- **index：**对data的行索引值，类似字典的key，index参数若省略，则自动生成。
- **columns:**对data的列索引值，类似表格的表头，columns参数若可省略，则自动生成。  

#### 使用列表创建DataFrame数据

In [6]:
# 使用列表创建Series数据
list1 = [[1,2,3],[4,5,6],[7,8,9]]

df = pd.DataFrame(list1,index=['A','B','C'],columns=['n1','n2','n3'])
display(df)

   num1  mum2  num3
A     1     2     3
B     4     5     6
C     7     8     9

#### 使用二维ndarray创建DataFrame数据

In [7]:
# 使用列表创建Series数据
arr1 = np.array([[1,2,3],[4,5,6],[7,8,9]])

df = pd.DataFrame(arr1,index=['A','B','C'],columns=['n1','n2','n3'])
display(df)

   num1  mum2  num3
A     1     2     3
B     4     5     6
C     7     8     9

#### 使用字典创建DataFrame数据

In [8]:
# 使用列表创建Series数据
dic = {'num1':[1,2,3], 'num2':[4,5,6], 'num3':[7,8,9]}

df = pd.DataFrame(dic, index=['A','B','C'])
display(df)

   num1  num2  num3
A     1     4     7
B     2     5     8
C     3     6     9